/.env

/mysql/data*
/mariadb/data*


/proxy/log*
/proxy/ssl*
/proxy/sites-available*
/proxy/sites-enabled*
/proxy/letsencrypt/*
!/proxy/letsencrypt/live/.keep
!/proxy/letsencrypt/archive/.keep

/greenlight/app*
!/greenlight/.keep
/greenlight/log*
/greenlight/db*
/greenlight-launcher/app*
!/greenlight-launcher/.keep
/greenlight-launcher/log*
/greenlight-launcher/db*

/loadbalancer/log*
/loadbalancer/db*

/recordingserver/db*
/recordingserver/ssh/*
!/recordingserver/ssh/.keep
/recordingserver/inbox/*
!/recordingserver/inbox/.keep
/recordingserver/log/app*
!/recordingserver/log/app/.keep
/recordingserver/log/scripts/capture/*
!/recordingserver/log/scripts/capture/.keep
/recordingserver/log/scripts/deskshare/*
!/recordingserver/log/scripts/deskshare/.keep
/recordingserver/log/scripts/presentation/*
!/recordingserver/log/scripts/presentation/.keep
/recordingserver/log/scripts/statistics/*
!/recordingserver/log/scripts/statistics/.keep
!/recordingserver/recordings/.keep
/recordingserver/recordings/deskshare*
/recordingserver/recordings/private*
/recordingserver/recordings/published*
/recordingserver/recordings/work*
/recordingserver/recordings/inbox*
